{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>PDC - Launcher</title>
  <style>
    @font-face {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('{% static 'font/Josefin-Sans.woff2' %}') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  </style>
  <link rel="stylesheet" href="{% static "css/index.css" %}?v=1.1">
  <script type="module" src="/static/js/main.js"></script>
</head>

<body>
  <div class="mainLoadingOverlay">
  <div class="mainLoadingOverlayCotainer">
    <p class="mainLoadingOverlayContainertPDCtext">Personal Data Center</p>
    <p class="mainLoadingOverlayContainertLodingText">Loading</p>
    <img class="miniPDC1off" id="miniPDC1" src="{% static "img/mini_pdc_off.svg" %}" alt="">
    <img class="miniPDC1yellow" id="miniPDC1" src="{% static "img/mini_pdc_yellow.svg" %}" alt="">
    <img class="miniPDC1green" id="miniPDC1" src="{% static "img/mini_pdc_green.svg" %}" alt="">
  </div>
</div>
  <div class="header">
    <p class="header_PDC_Text">Personal Data Center</p>
    <div class="header_icon_container">
      <div type="checkbox" class="header_User_Icon" id="header_Icon"></div>
      <a class="header_Config_Icon" id="header_Icon" href="/system"></a>
    </div>
  </div>
  <div class="header_User_Dropdown" >
    <div class="header_User_Dropdown_Triangle"></div>
    <div class="header_User_Dropdown_menu">
      <ul style="list-style-type: none;">
        <li  class="header_User_Dropdown_menu_list"><a href="/authorizator/logout">Logout</a></li>

      </ul>
    </div>
  </div>
  <div class="main_container">
    <div class="main_flex_container" id="main_flex_container">
      <p class="section_title">News:</p>
      <a class="banner" href="">asdas</a>
      <p class="section_title">Services:</p>
      <div class="icons_container" id="icons_container">

      </div>
    </div>
  </div>
</body>

</html>
